:root, [data-md-color-scheme=default] {
  --green: #1aad18;
  --pink: #c961eb;
  --md-default-bg-color: #fafafa !important;
}

.md-grid {
  max-width: 1600px;
}

[dir=ltr] .md-header__title {
  margin-left: .1rem;
}

.md-header__button.md-logo img, .md-header__button.md-logo svg {
  height: 2.5rem;
}

.md-typeset h1 {
  font-weight: bold !important;
  color: #7654fa;
}

.md-typeset h2 {
  color: #ff5500;
  font-weight: bold !important;
  border-top: 1px solid #424657;
  padding-top: 24px;
}

.md-typeset h3 {
  color: #6c8adb;
  font-weight: 600 !important;
}

p {
  margin-left: 1rem;
}

[dir=ltr] .md-typeset ol li, [dir=ltr] .md-typeset ul li {
  margin-left: 2.25em;
}

.md-typeset ol li, .md-typeset ul li {
  margin-bottom: initial;
}

.table-center-rows, .table-center-long-rows {
  text-align: center !important;
}

.md-typeset__scrollwrap {
  display: flex; 
  align-items: center; 
  justify-content: center;
}